.gallery-check:nth-child(1) {background-image: url(../../resources/hblock/1.png);}
.gallery-check:nth-child(2) {background-image: url(../../resources/hblock/2.png);}
.body-gallery{
    grid-template-areas:  
        "a b"
        "main main";
}