.gallery-check:nth-child(1) {background-image: url(../../resources/crossbow/1.png);}
.gallery-check:nth-child(2) {background-image: url(../../resources/crossbow/2.png);}
.gallery-check:nth-child(3) {background-image: url(../../resources/crossbow/3.png);}
.gallery-check:nth-child(4) {background-image: url(../../resources/crossbow/4.png);}
.gallery-check:nth-child(5) {background-image: url(../../resources/crossbow/5.png);}
.body-gallery{
    grid-template-areas:  
        "a b c d e"
        "main main main main main";
}
.gallery-check {background-size: 100% 100%; width: 6vw; height: 3.5vw;}