.gallery-check:nth-child(1) {background-image: url(../../resources/lighter/1.png);}
.gallery-check:nth-child(2) {background-image: url(../../resources/lighter/2.png);}
.gallery-check:nth-child(3) {background-image: url(../../resources/lighter/3.png);}
.body-gallery{
    grid-template-areas:  
        "a b c"
        "main main main";
}